#name,reflector?,mapping,notch
1,F,EKMFLGDQVZNTOWYHXUSPAIBRCJ,Q
2,F,AJDKSIRUXBLHWTMCQGZNPYFVOE,E
3,F,BDFHJLCPRTXVZNYEIWGAKMUSQO,V
4,F,ESOVPZJAYQUIRHXLNFTGKDCMWB,J
5,F,VZBRGITYUPSDNHLXAWMJQOFECK,Z
6,F,JPGVOUMFYQBENHZRDKASXLICTW,Z+M
7,F,NZJHGRCXMYSWBOUFAIVLPEKQDT,Z+M
8,F,FKQHTLXOCBJSPDZRAMEWNIUYGV,Z+M
A,T,FKQHTLXOCBJSPDZRAMEWNIUYGV,/
B,T,YRUHQSLDPXNGOKMIEBFZCWVJAT,/
C,T,FVPJIAOYEDRZXWGCTKUQSBNMHL,/
